.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding-right: 100px;
}

.navLinks {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  position: relative;
}

.nav-links li .active {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}
