.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
  background-color: black;
  color: white;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leftCard, .rightCard, .skillsCard {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 250px;
}

.leftCard img, .rightCard img, .skillsCard img {
  border-radius: 15px;
}

.downloadButton {
  display: inline-block;
  padding: 10px 20px;
  background: #29B2E3;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
  text-decoration: none;
}

.skillsCard {
  background: #1a1a1a; /* Matching the other cards */
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 250px;
}

.skillsCard h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.skillIcon {
  width: 40px;
  height: 40px;
}

.mainProfile {
  position: relative;
  text-align: center;
}

.mainImage {
   border-radius: 20px; 
   height: 700px;
   width: 600px;
}

.overlay {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 15px 20px;
  border-radius: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.projectButton, .serviceButton {
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.projectButton {
  background: #4A1865;
}

.serviceButton {
  background: #29B2E3;
  border: 1px solid white;
}

.rightCard .highlight {
  font-weight: bold;
  color: white;
}

.socialIcons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.icon {
  font-size: 20px;
  text-decoration: none;
}

.contactButton {
  display: inline-block;
  background: #4A1865;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
}

.contactText {
  font-size: 14px;
  margin: 10px 0;
}

